*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    background: #0b1119;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-position: 75% 45%;
}

.side-image{
    width: 75vh;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    background: linear-gradient(to left, rgba(11, 19, 25, 0) 0%, rgba(11, 17, 25, 1) 100%),
                url(./Images/img.JPEG);   /* another color is 23, 23, 23 */
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    position: relative;
    margin: 10px;
    width: 180px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
}

nav ul li a{
    font-family: 'Poppins', 'Arial';
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d53539;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-family: 'Poppins', 'Arial';
    font-size: 60px;
    margin-top: 30px;
}

.header-text p{
    font-size: 30px;
    font-family: 'Poppins', 'Arial';
}

.header-text h1 span{
    font-family: 'Poppins', 'Arial';
    color: #d53539;
}

/* ------------ About ------------ */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 50%;
}

.sub-title{
    font-size: 72px;
    font-weight: 600;
    font-family: 'Poppins', 'Arial';
    color: #fff;
}

.text{
    font-size: 24px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', 'Arial';
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d53539;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    font-family: 'Poppins', 'Arial';
    list-style: none;
    margin: 12px 0;
}

.tab-contents ul li span{
    font-family: 'Poppins', 'Arial';
    color: #d53539;
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* ------------ Blog ------------ */


#blog{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 100%;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #d53539);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Poppins', 'Arial';
}

.layer a{
    margin-top: 20px;
    color: #d53539;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    font-family: 'Poppins', 'Arial';
    width: fit-content;
    border: 1px solid #d53539;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #d53539;
}


/* ------------ Contact ------------ */


.contact-left{
    flex-basis: 35%;
    font-family: 'Poppin', 'Arial';
    margin-left: 70px;
}

.contact-right{
    flex-basis: 60%;
    font-family: 'Poppin', 'Arial';
}

.contact-left h1{
    margin-left: 100px;
}

.contact-left p{
    margin-top: 30px;
    font-family: 'Poppins', 'Arial';
    font-size: 22px;
}

.contact-left p i{
    color: #d53539;
    margin-right: 15px;
    margin-left: 110px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
    margin-left: 110px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #d53539;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #d53539;
    font-size: 18px;
    font-family: 'Poppins', 'Arial';
}

.contact-right form{
    width: 50%;
    margin-left: 200px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Poppins', 'Arial';
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer; 
}

#msg{
    color: #61b752;
    margin-top: -40px;
    margin-left: 200px;
    font-family: 'Poppins', 'Arial';
    display: block;
}


/* ------------ Responsive ------------ */


nav .fas{
    display: none;
}

@media only screen and (max-width: 700px){

    .header-text{
        margin-top: 20%;
        font-size: 20px;
    }

    .side-image{
        width: 75vh;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(to left, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 100%),
                url(Images/img.jpeg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: inline-block;
        font-size: 25px;
    }
 
    nav ul{
        background: #d53539;
        position: fixed;
        top: 0;
        right: -100px;
        width: 100px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
       font-size: 40px; 
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 12px;
    }

    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .contact-left h1{
        margin-left: -40px;
    }

    .contact-left p{
        margin-left: -30px;
    }
    
    .contact-left p i{
        margin-left: -15px;
    }

    .social-icons{
        margin-left: -40px;
    }

    .contact-right form{
        width: 90%;
        margin-left: 20px;
    }
}
